{% extends 'base.html.twig' %}
 {% block body %}
 <h1>Bienvenue</h1>

<p>Le paragraphe est appelé à prendre de plus en plus d’importance dans l’accès à la lecture et à l’écriture. En contexte numérique, il est la seule unité stable entre le mot et le chapitre. En didactique de l’écriture, sa dimension moyenne en fait l’unité de traitement de texte par excellence. Bien que la compétence requise pour le gérer dans sa dimension éditoriale soit </p>
<p>Le paragraphe est appelé à prendre de plus en plus d’importance dans l’accès à la lecture et à l’écriture. En contexte numérique, il est la seule unité stable entre le mot et le chapitre. En didactique de l’écriture, sa dimension moyenne en fait l’unité de traitement de texte par excellence. Bien que la compétence requise pour le gérer dans sa dimension éditoriale soit </p>
 {% endblock %}
